<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let liste of listePar">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{liste.raisonSocial}}</h5>
        <p class="card-text">{{liste.ninea}}</p>
        <h5 class="card-title">{{liste.adresse}}</h5>
        <p class="card-text">{{liste.etat}}</p>
        <a href="#" class="btn btn-success">Buy Tickets</a>
      </div>
      <div class="card-footer text-muted">
     
      </div>
    </div>
  </div>
</div>